* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(images/background.png);
  background-size: contain;
}

h1 {
  text-align: center;
  padding: 2rem;
  color: antiquewhite;
}

.container {
  background-color: #014453;
  display: grid;
  align-content: center;
  margin: 2rem;
  padding: 2rem;
  justify-content: center;
  gap: 2rem;
  border-radius: 20px;
  color: antiquewhite;
  font-family: "Syne Mono", sans-serif;
}

.input {
  display: grid;
  align-content: center;
  /* margin: 2rem; */
  justify-content: center;
}

input {
  border-radius: 10px;
  background-color: antiquewhite;
}

button {
  border-radius: 5px;
  background-color: antiquewhite;
}

button:hover {
  background-color: rgb(6, 168, 111);
}
.output {
  padding: 1rem;
  background-color: rgb(128, 128, 128, 0.5);
  border-radius: 20px;
  margin: 1rem;
}

.copyright {
  gap: 5px;
  display: flex;
  justify-content: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: 6rem auto;
  background-color: rgb(255, 235, 205, 0.8);
  border-radius: 20px;
  width: fit-content;
}

.copyrightLogo {
  width: 20px;
}
